#pyrotgfork
#py-tgcalls==0.9.7
#pyromod
wget
tgcrypto
ffmpeg-python
youtube-search
youtube-search-python
python-dotenv
dnspython
gitpython
asgiref
aiofiles
apscheduler
aiohttp
requests
pillow
aiocache
motor
lyricsgenius
psutil
future
speedtest-cli
pymongo[srv]
deep_translator
youtube_search
telethon
httpx==0.23.3
git+https://github.com/yt-dlp/yt-dlp
